/* card principal */
.container {
  background: rgba(151, 151, 151, 0.096);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2rem;
  padding: 4rem;
  box-shadow: 0 0 200px rgb(202, 161, 255);
}

.container img {
  height: 80px;
}

.container button {
  font-weight: 200;
  font-size: 20px;
  padding-inline-start: 33%;
  padding-inline-end: 32%;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem;
    box-shadow: 0 0 20px rgb(90, 41, 226);
  }

  .container button {
    font-weight: 00;
  }
}

.card-container button:hover {
  cursor: pointer;
}

/*  display:grid ou flex para deixar organizado */
.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-container h1 {
  text-decoration: underline;
  color: aliceblue;
}

.card-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* conteudo do card*/
.card-components {
  display: flex;
  flex-direction: column;
}

.card-components label,
.card-components input {
  margin-top: 10px;
  color: aliceblue;
}

.card-components input {
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 5px;
  padding: 5px;
  border: none;
}

#Login a {
  color: black;
}

.Login-With {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 20rem;
  background: rgba(151, 151, 151, 0.096);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 200px rgb(202, 161, 255);
}

@media screen and (max-width: 768px) {
  .Login-With {
    box-shadow: 0 0 20px rgb(98, 0, 255);
    width: 15rem;
  }
}
.components-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.components-btn h1 {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.components-btn button {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 12px;
  padding: 5px 40px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.384);
  color: aliceblue;
}

.components-btn button {
  cursor: pointer;
}
