<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="../../assests/components/favicon-con.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assests/components/reset.css">
    <link rel="stylesheet" href="../../css/global.css">
</head>
<body>
    <!-- Este arquivo so vai ser modificado depois de eu aprender
    Javascript na criação de dashboard,ou seja, este repositório
    ficara um tempo sem ser modificado. -->
</body>
</html>